body {
    margin: 0;
    font-family: georgia;
    font-size: 14px;
    line-height: 1.3;
    background-color: #ffe7be;
    display: flex;
    height: 100vh;

    justify-content: center;
    align-items: center;
}

main {
    display: grid;
    grid-template-columns: 250px 250px;
    grid-template-rows: 250px 250px;

}

.box-1 {
    background-color: #af7c4d;
}

.cirkel {
    background-color: #352e27;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: 50px auto 50px auto;
}

.box-2 {
    display: grid;
    grid-template-columns: 125px 125px;
    grid-template-rows: 125px 125px;
}

.ett {
    background-color: #d1b586;
}

.två {
    background-color: #865433;
}

.tre {
    background-color: #ad8763;
}

.fyra {
    background-color: #af7c4d;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.box-4 {
    background-color: #d1b586;
    text-align: center;
    display: grid;
    align-items: center;

}